.nav-list {
  height: 100vh;
  margin-right: 150px;
  padding: 50px;
  background-color: blueviolet;
  text-align: center;
}

.nav_item {
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
  font-size: 20px;
}
