.App {
  text-align: center;
}

.wrap {
  position: relative;
  display: flex;
}

.nav-wrap {
  position: fixed;
}

.app-wrap {
  width: 600px;
  margin: 0px auto;
}

.hide {
  display: none;
}

.modal {
  position: fixed;
  width: 200px;
  height: 70px;
  background-color: rgb(241, 137, 19);
  left: 1%;
  top: 230px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  z-index: 3;
}
